html {
    
}
body {
    background: url(https://image.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg);
    background-size: cover;
}
.nav {
    text-align: center;
    margin-top: 10px;
    height: 123px;
    background: black;
    margin-bottom: 0px;
}
    .nav ul {
        margin: 0;
        padding: 0;
    }

        .nav ul li {
            list-style: none;
            display: inline-block;
        }

            .nav ul li a {
                text-decoration: inherit;
                float: left;
                padding: 0px 20px;
                padding-top: 35px;
                color: white;
            }

                .nav ul li a:hover {
                    color: deepskyblue;
                    transition: 500ms;
                    transform: scale(1.2);
                }
